<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>
    <h1>Página de inicio</h1>
    <h2>Bienvenido
        <% if (login) {%>
            <p>El usuario conectado es: <%=user %>
            </p>
            <a href="/logout" class="a-logout">Cerrar sesión</a>
            <% }else { %>
                <p>
                    <%= user %>
                </p>
                <a href="/login" class="a-login">Iniciar sesión </a>

                <% } %>
    </h2>
</body>

</html>
