<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>
<body>
    <div class="login-form">
        <h2>Login con Sinergia</h2>
        <form action="auth" method="POST">
            <input type="text" name="user" id="user" placeholder="Ingrese su usuario" required>
            <input type="password" name="pass" id="pass" placeholder="Ingrese su contraseña" required>
            <input type="submit" class="btn-login" value="login">login</button>
        </form>

        <a href="/registro" class="btn-register">Resgístrate</a>
    </div>

</body>

</html>
